<%- include('partials/header') -%>

<div class="text-center"> 
<main class="form-signin">
    <form action="/login" class="text-white">
    <h1 class="h3 mb-3 fw-normal">Please Log in</h1>

    <div class="form-floating">
      <input  class="form-control" id="floatingPassword" type="text" name="email" required>
      <label for="email">Email address</label>
      <div class="email error"></div>
    </div>
    <div class="form-floating">
      <input  class="form-control" id="floatingPassword" type="password" name="password" required>
      <label for="password">Password</label>
      <div class="password error"></div>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; Schematics ITS 2022</p>
  </form>
</main>
</div>
</div>

<%- include('partials/footer') -%>


<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');
  
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
  
      // reset errors
      emailError.textContent = '';
      passwordError.textContent = '';
  
      // get values
      const email = form.email.value;
      const password = form.password.value;
      
      try {
        const res = await fetch('/api/auth/login', { 
          method: 'POST', 
          body: JSON.stringify({ email, password }),
          headers: {'Content-Type': 'application/json'}
        });
        const data = await res.json();
        if (data.errors) {
          emailError.textContent = data.errors.email;
          passwordError.textContent = data.errors.password;
        }
        if (data.user) {
          location.assign('/');
        }
      }
      catch (err) {
        console.log(err);
      }
    });
  </script>